<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>508</key>
	<dict>
		<key>name</key>
		<string>Ruby&apos;s Dinette</string>
		<key>imageName</key>
		<string>shop_icon</string>
		<key>buttonLabel</key>
		<string>ORDER</string>
	</dict>
</dict>
</plist>
